

/*------------------------------------------------*/
/* Big Fat Button, the app launcher thingy */

/* background position is for bfb at the top, not the end like ubuntu */

    .show-apps .show-apps-icon {
  border: none;
  padding: 0;
  background-image: url("Modern.svg");
  background-size: contain;
  background-position: 0px -4px;
  color: transparent;
  -st-background-image-shadow: 0 1px 1px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.14); }
  
  
.show-apps:hover .show-apps-icon:hover,
.show-apps:active .show-apps-icon:active,
.show-apps:checked .show-apps-icon:checked,
.show-apps:focus .show-apps-icon:focus {
  transition-duration: 0.2s;
  color: transparent;
  -st-background-image-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.22);
  }


/*------------------------------------------------*/

/* Standard glass so defining of Unity */
.dash-item-container > StWidget {
  background-image: url("round_shine_54x54.png");
  transition-duration: 100ms;
  background-size: cover;
  text-align: center;
  }
